/* Mobile (HP) */
@media (max-width: 657px) {
  .navbar-logo {
    margin-left: 2rem;
  }

  .navbar-menu {
    margin-right: 2rem;
  }

  .navbar-item {
    margin-left: 1rem;
    font-size: 1rem;
  }

  /* section home */
  #home h2 {
    font-size: 2.5rem;
  }

  .home-search {
    margin-top: 1rem;
    padding: 1rem;
  }

  .home-search input {
    height: 2rem;
    padding: 0 5rem 0 1rem;
    font-size: 0.9rem;
  }

  .home-search input::placeholder {
    font-size: 0.9rem;
  }

  .home-search button {
    height: 2rem;
    width: 2rem;
    font-size: 0.9rem;
  }

  .home-book-list {
    margin: 4rem 0 1rem;
  }

  .home-book-list,
  .home-add-book {
    width: 8rem;
    height: 2.1rem;
    font-size: 0.9rem;
  }
  /* end section home */

  /* book list */
  #bookListModal,
  #resultSearchModal {
    width: 85vw;
    height: 75vh;
  }

  #bookListModal header h1,
  #resultSearchModal header h1 {
    font-size: 1.2rem;
  }

  #bookListModal header i,
  #resultSearchModal header i {
    font-size: 1.5rem;
    margin: 0 1rem;
  }

  #bookList,
  #resultSearch {
    margin-top: 7vh;
    grid-template-columns: repeat(2, 1fr);
    min-height: 50vh;
  }

  .book-list,
  .result-list {
    margin: 2vh 0 0 2vh;
    height: 12.5rem;
    aspect-ratio: 3/5;
  }

  .book-list img,
  .result-list img {
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    height: 20vh;
    aspect-ratio: 18/25;
  }

  .book-list h1,
  .result-list h1 {
    font-size: 0.7rem;
  }

  .book-list h2,
  .result-list h2 {
    font-size: 0.5rem;
    margin: 0.25rem 0;
  }

  .book-list h3,
  .result-list h3 {
    font-size: 0.5rem;
  }
  /* end book list */

  /* add book */

  #addBookModal {
    width: 80vw;
    height: 85vh;
  }

  #addBookModal header h1 {
    font-size: 1rem;
  }

  #addBookModal header i {
    font-size: 1.5rem;
    margin: 0 1rem;
  }

  .add-book form {
    height: 78vh;
    width: 100%;
  }

  .add-book form input {
    width: 13rem;
    height: 5vh;
  }

  .add-book form button {
    width: 13rem;
    height: 4vh;
  }

  /* end add book */


  /* About */
.about-modal {
  height: 70vh;
  width: 90vw;
  border-radius: 20px;
}

.about-modal h1 {
  color: rgb(0, 153, 255);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about-modal p {
  font-size: .9rem;
  width: 75vw;
  margin-top: 1rem;
}

.about-modal p a {
  text-decoration: none;
  color: rgb(0, 153, 255);
  font-weight: bold;
}

/* end about */
}

/* Desktop / Laptop */
@media (min-width: 1025px) {
}
